.formStyle {
    padding: 2%;
    font-size: 100%;
    color:  rgb(243, 222, 222);;
    text-align: center;
    line-height: 2.5%;
    border-radius: 2%;
  }

  .text{
    color:rgb(243, 222, 222);
    font-weight: lighter;
    font-family: 'Lora', serif;
  }

  .reviewtext{
    color: rgb(182, 104, 104);
  }

  .details {
    width: 100%;
    background-color: rgb(243, 222, 222);
  }

  .dropdown{
    height: 100%;
    width: 40%;
    background-color: rgb(243, 222, 222);
  }

  .space{
    padding-right: 22%;
    height: 100%;
    width: 30%;
    background-color: rgb(243, 222, 222);
  }

  .formdetails{
    padding: 5%;
    box-shadow: 0px 0px 5px 2px rgba(204, 0, 0, 0.5);    
    border: 0px solid #666;
    border-radius: 2%;
    align-items: flex-start;
    margin: 1%;
  }

  .button{
    align-self: center;
    color:white;
    font-weight: bolder;
    background-color: rgb(97, 50, 50);
    border-color: rgb(243, 222, 222);
    border-radius: 10px;
    height: 100%;
    width: 40%;
  }

  .required {
    color: var(--softRose);
  }

  .question {
    font-weight: bold;
  }

  @media (min-width: 900px) {
    .shipping {
      width: 400px;
    }
  }